/* Отключаем действия касания для элементов, чтобы предотвратить нежелательные жесты на сенсорных устройствах */
html {
  touch-action: none; /* Запрет на выполнение действий касания */

  /* Отключение выделения текста в разных браузерах */
  -moz-user-select: none; /* Для Firefox */
  -khtml-user-select: none; /* Для старых версий браузера Konqueror */
  -webkit-user-select: none; /* Для браузеров на базе WebKit, таких как Safari */
  user-select: none; /* Стандартное свойство для отключения выделения текста */
}

/* Устанавливаем стиль для всего тела документа */
body {
  margin: 0; /* Убираем отступы по умолчанию */
  touch-action: none; /* Запрет на выполнение действий касания для всего тела */
}

/* Основной контейнер для рабочего пространства */
#workspace {
  width: 100vw; /* Ширина на 100% от ширины окна просмотра */
  height: 100vh; /* Высота на 100% от высоты окна просмотра */
  position: relative; /* Устанавливаем относительное позиционирование для вложенных элементов */
  background-color: rgb(226, 226, 226); /* Светло-серый фон для рабочего пространства */
  overflow: hidden; /* Скрываем элементы, выходящие за пределы контейнера */
}

/* Стиль для элементов с классом 'target' */
.target {
  position: absolute; /* Устанавливаем абсолютное позиционирование для свободного перемещения */
  border: 1px solid black; /* Черная рамка вокруг элемента */
  background-color: red; /* Красный фон для выделения элемента */
  box-sizing: border-box; /* Учитываем отступы и границы в общей ширине и высоте элемента */
}
