/* Анимация "вибрация" */
@keyframes vibrate {
  from {
    transform: translateX(-2px); /* Начальное положение: смещение влево на 2px */
  }

  to {
    transform: translateX(2px); /* Конечное положение: смещение вправо на 2px */
  }
}

/* Анимация "подчеркивание" */
@keyframes underline {
  from {
    transform: scaleX(0); /* Начальное состояние: линия подчеркивания невидима (масштаб по X равен 0) */
  }

  to {
    transform: scaleX(1); /* Конечное состояние: линия подчеркивания полностью видима (масштаб по X равен 1) */
  }
}

/* Анимация "прыжки" */
@keyframes bounce {
  from {
    transform: translateY(-300px); /* Начальное положение: объект смещен вверх на 300px */
  }

  20% {
    transform: translateY(0); /* На 20% анимации: объект возвращается в исходное положение */
  }

  40% {
    transform: translateY(-250px); /* На 40% анимации: объект снова смещается вверх на 250px */
  }

  60% {
    transform: translateY(0); /* На 60% анимации: объект возвращается в исходное положение */
  }

  75% {
    transform: translateY(-150px); /* На 75% анимации: объект смещается вверх на 150px */
  }

  85% {
    transform: translateY(0); /* На 85% анимации: объект возвращается в исходное положение */
  }

  95% {
    transform: translateY(-60px); /* На 95% анимации: объект смещается вверх на 60px */
  }

  to {
    transform: translateY(0); /* Конечное положение: объект возвращается в исходное положение */
  }
}

/* Основные стили для HTML */
html {
  font-family: sans-serif; /* Устанавливаем шрифт без засечек для всего документа */
}

/* Стили для тела документа */
body {
  margin: 0; /* Убираем внешние отступы у body */
}

/* Стили для шапки */
header {
  background: rgb(52, 206, 142); /* Устанавливаем цвет фона шапки */
  height: 100px; /* Задаем высоту шапки */
}

/* Стили для заголовка h1 */
h1 {
  text-align: center; /* Выравниваем текст по центру */
  color: white; /* Устанавливаем цвет текста */
  line-height: 100px; /* Высота строки равна высоте шапки для вертикального выравнивания */
  margin: 0; /* Убираем внешние отступы */
}

/* Стили для кнопок */
button {
  margin: 50px; /* Внешние отступы вокруг кнопки */
  font-size: 20px; /* Размер шрифта */
  background-color: red; /* Цвет фона кнопки */
  animation: vibrate 0.1s infinite; /* Применяем анимацию "вибрация" */
}

/* Стили для ссылок */
a {
  font-size: 20px; /* Размер шрифта */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  color: black; /* Цвет текста */
  position: relative; /* Устанавливаем относительное позиционирование */
}

/* Стили для ссылок при наведении */
a:hover {
  color: green; /* Изменяем цвет текста при наведении */
}

/* Стили для псевдоэлемента ::after при наведении на ссылку */
a:hover::after {
  animation: underline 0.3s ease-in-out forwards; /* Применяем анимацию "подчеркивание" */
  content: ''; /* Добавляем пустое содержимое для псевдоэлемента */
  position: absolute; /* Абсолютное позиционирование */
  left: 0; /* Позиционируем слева */
  right: 0; /* Позиционируем справа */
  bottom: -2px; /* Смещаем вниз на 2px */
  height: 2px; /* Высота линии */
  background-color: green; /* Цвет линии */
  transform-origin: center; /* Устанавливаем точку трансформации в центре */
}

/* Стили для кнопок при наведении */
button:hover {
  background-color: green; /* Изменяем цвет фона кнопки при наведении */
  animation: none; /* Отключаем анимацию при наведении */
}

/* Стили для элемента с классом .ball */
.ball {
  width: 50px; /* Ширина элемента */
  height: 50px; /* Высота элемента */
  background-color: blue; /* Цвет фона */
  border-radius: 50%; /* Делаем элемент круглым */
  position: absolute; /* Абсолютное позиционирование */
  bottom: 0; /* Позиционируем внизу */
  left: 50%; /* Позиционируем по центру по горизонтали */
  animation: bounce 3s ease-in; /* Применяем анимацию "прыжки" */
}